.hidingBox1 {
    width:200px; 
    height:70px; 
    background-color: #DAE4E4;
    border-style: solid;
    border-width: thin;
    position: absolute; 
    top: 8px; 
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidingBox2 {
    width:200px; 
    height:70px; 
    background-color: #DAE4E4;
    border-style: solid;
    border-width: thin;
    position: absolute; 
    top: 173px; 
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.compoundName {
    font-size: 20px;
}

.legend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    text-align: center;
}

.legendText{
    margin-left: 5px;
    margin-right: 5px;
}

.compoundRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.instructionsBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: solid;
    border-color: black;
    line-height: 25px;
}

.instructionsText {
    margin-left: 10px;
    margin-right: 10px;
}

.interactions {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.results {
    display: flex;
    flex-direction: row;
    justify-content: center;;
}

.logging {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}