.hidingBox1 {
    width:200px; 
    height:70px; 
    background-color: #DAE4E4;
    border-style: solid;
    border-width: thin;
    position: relative; 
    top: 72px; 
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidingBox2 {
    width:200px; 
    height:70px; 
    background-color: #DAE4E4;
    border-style: solid;
    border-width: thin;
    position: relative; 
    top: 75px; 
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.compoundName {
    font-size: 20px;
}

.instructionsBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    border-style: solid;
    border-width: thin;
    line-height: 25px;
}

.instructionsText {
    margin-left: 10px;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.compoundRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    margin-bottom: 20px;
}

.compoundButton {
    height: 50px;
    width: 100px; 
    margin-left: 5px; 
    margin-right: 5px;
    z-index: 20;
}

.interfaceBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: thin;
    line-height: 25px;
}

.legend {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.legendText{
    margin-left: 5px;
    margin-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.interactions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

.resultsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: thin;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30%;
}

.logging {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}